<header class="page-header">
  {{ partial:main-nav }}
    <h1 class="page-title">{{ partial:svg/{{ slug }} }}{{ title }}</h1>
  </header>
  <div class="page-content">
    <h2 style="text-align:center">Tompkins County Joint Safety Action Plan - DRAFT Plan</h2>
    <iframe style="margin:0 auto;max-width:100%;display:block" width="1200" height="900" src="/assets/pdfs/SS4A_TOMPKINS_JSAP_APR25.pdf#sidebar=0"></iframe>
    <h2 style="text-align:center">Tompkins County Joint Safety Action Plan - DRAFT Executive Summary</h2>
    <iframe style="margin:0 auto;max-width:100%;display:block" width="1200" height="900" src="/assets/pdfs/SS4A_TOMPKINS_ExecSum_APR25.pdf#sidebar=0"></iframe>
    <h3 style="text-align:center">Provide your feedback here! If applicable, please specify page numbers and which document you are referring to. Thank you for your time!</h3>
    <div class="survey-container">
      <script>(function(t,e,s,n){var o,a,c;t.SMCX=t.SMCX||[],e.getElementById(n)||(o=e.getElementsByTagName(s),a=o[o.length-1],c=e.createElement(s),c.type="text/javascript",c.async=!0,c.id=n,c.src="https://widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgd31NvhWg5JgpuniyY4p8JHim2zK6ctjyWC2o7WY4e26S.js",a.parentNode.insertBefore(c,a))})(window,document,"script","smcx-sdk");</script>
    </div>
</div>
  