<header class="page-header">
  {{ partial:main-nav }}
    <h1 class="page-title">{{ partial:svg/{{ slug }} }}{{ title }}</h1>
  </header>
  <div class="page-content">
    <h2 style="text-align:center">Tompkins County Joint Safety Action Plan</h2>
    <iframe style="margin:0 auto;max-width:100%;display:block" width="1200" height="900" src="/assets/pdfs/ss4a_tompkins_jsap_jul25_complete_v3.pdf#sidebar=0"></iframe>
    <h2 style="text-align:center">Tompkins County Joint Safety Action Plan - Executive Summary</h2>
    <iframe style="margin:0 auto;max-width:100%;display:block" width="1200" height="900" src="/assets/pdfs/ss4a_tompkins_execsum_jul25.pdf#sidebar=0"></iframe>
    <h2 style="text-align:center">Tompkins County Joint Safety Action Plan - Priority Location Profiles (Appendix A)</h2>
    <iframe style="margin:0 auto;max-width:100%;display:block" width="1200" height="900" src="/assets/pdfs/tompkins-county-priority-location-profiles_appendix-a.pdf#sidebar=0"></iframe>
  <h2 style="text-align:center">Signed Resolutions Adopting the Plan</h2>
    <iframe style="margin:0 auto;max-width:100%;display:block" width="1200" height="900" src="/assets/pdfs/combined7outof11_signedresolutions.pdf#sidebar=0"></iframe> 
  </div>
