<header class="page-header">
  {{ partial:main-nav }}
    <h1 class="page-title">{{ partial:svg/{{ slug }} }}{{ title }}</h1>
  </header>
  <div class="page-content">
    <h2 style="text-align:center">Tompkins County Joint Safety Action Plan - DRAFT Plan</h2>
    <iframe style="margin:0 auto;max-width:100%;display:block" width="1200" height="900" src="/assets/pdfs/SS4A_TOMPKINS_JSAP_APR25.pdf#sidebar=0"></iframe>
    <h2 style="text-align:center">Tompkins County Joint Safety Action Plan - DRAFT Executive Summary</h2>
    <iframe style="margin:0 auto;max-width:100%;display:block" width="1200" height="900" src="/assets/pdfs/SS4A_TOMPKINS_ExecSum_APR25.pdf#sidebar=0"></iframe>
</div>
  