<div class="hero">
    <header class="hero-header">
      {{ partial:main-nav }}
    </header>
    {{# start of hero content #}}
    <div class="hero-content">
    {{ hero_content | markdown }}
    <div class="btn-container">
        {{ municipalities }} 
        <div class="btn">
            <img class="btn-icon" src="/template/{{ municipality_type }}-icon.svg" alt="{{ municipality_type }} icon">
            <span>{{ municipality }}</span>
        </div>
        {{ /municipalities }}
        </div>
    </div>
</div>
{{ sections }}
<div class="section {{ type}}-section">

  {{# Bard Content #}}
  {{ if type == "bard_content" }}

  <div class="bard-content">
    {{ partial:content }}
  </div>

  {{ /if }}

  {{# Callout #}}
  {{ if type == "callout" }}

  <div class="callout-wrapper">
    <div class="callout-content">
    {{ partial:content }}
    </div>
  </div>
    <video autoplay loop muted class="bg-video">
        <source src="{{ background }}" type="video/mp4">
    </video>

  {{ /if}}

  {{# Charts #}}
  {{ if type == "charts"}}

  {{ partial:charts}}

  {{ /if}}

</div>
{{ /sections }}
