<div class="announcements">
    <h2 class="section-title">{{ partial:svg/announcement }}Announcements</h2>
    <div class="announcement-wrapper">
        {{ collection:announcements sort="date:desc" }}
        <div class="announcement">
            <div class="announcement-header">
                    {{ if announcement_url}}
                        <a href="{{ announcement_url }}">
                        <h3>
                        {{ title }}
                        </h3>
                        </a>
                    {{ else }}
                    <h3>
                    {{ title }}
                    </h3>
                    {{ /if }}
                    {{ partial:svg/dropdown-button }}
                </div>
                <div class="announcement-content">
                    <p>{{ content }}</p>
                </div>
            </div>
        {{ /collection:announcements }}
    </div>
</div>

