{{# start of bard content #}}

{{ if section_title }}

<h2 class="section-title">{{ icon }}{{ section_title }}</h2>
{{ /if }}

{{ content }}
  
  {{# text content #}}

  {{ if type == "text" }}
  <div class="text">
    {{ text | markdown }}
  </div>
  {{/if }}

  {{ if type == "text_with_image" }}
  <div class="text-wrapper {{ if position !== "default"  }}float-{{ position | lowercase }}">
    <img src="{{ image }}" alt="{{ image_alt }}" class="content-image{{ /if }}">
    <div class="content-text">
    {{ text | markdown }}
    </div>
  </div>
  
  {{ /if }}

  {{# add announcements #}}

  {{ if type == "add_announcements" }}
    {{ partial:announcements }}
  {{ /if }}


{{ /content }}