<nav class="main-nav">
        <div class="nav-wrap">
                <div class="logo">
                <object type="image/svg+xml" data="/template/SST-logo-horizontal.svg">
                <!-- fallback -->
                <img src="/template/SST-logo-horizontal.png" tags="true">
                </object>
                </div>
                <ul class="links">
                        <li class="nav-item scroll-to-top"><a href="/">Back to Top</a></li>
                {{ nav:main_nav }}
                <li class="nav-item"><a href="{{ url }}">{{ title }}</a></li>
                {{ /nav:main_nav }}
        </ul>
        </div>
</nav>