body {
  background-color: #0A649A;
  font-family: "Noto Sans", sans-serif;
  color: black;
  font-size: 16px;
  line-height: 1.5;
  font-family: UniversNext;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  position: static;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
}

p, h1, h2, h3, span {
  font-family: "Noto Sans", sans-serif;
}

h2, h3 {
  color: #0A73AF;
}

h3 {
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}

h2, .section-title {
  font-size: 2rem;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.page-title {
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
  color: white;
  margin: 4rem 0 0 0;
}
.page-title svg {
  vertical-align: middle;
  fill: currentColor;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

p {
  font-size: 18px;
}

.site-wrap {
  max-width: 120em;
  margin: 0 auto;
  overflow: visible;
  -webkit-box-shadow: 0 0 4rem rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.75);
  background-color: #fff;
  position: relative;
}

.sticky-nav {
  max-width: 120em;
  width: 100%;
  margin: 0 auto;
  overflow: visible;
  position: sticky;
  z-index: 10;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
  top: 0;
}
.sticky-nav.sticky {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.homepage .site-wrap {
  margin-top: -3rem;
}

nav .nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
nav .nav-wrap .logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
nav .nav-wrap .logo a {
  display: block;
}
nav .nav-wrap .logo object {
  max-width: 300px;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
  pointer-events: none;
}
nav .nav-wrap .links {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
nav .nav-wrap .links .nav-item a {
  color: #FFF;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  margin: 0 0.25em;
  cursor: pointer;
  padding: 0.25em 0.5em;
  overflow: hidden;
  position: relative;
}
nav .nav-wrap .links .nav-item a svg {
  width: 1rem;
  margin-right: 5px;
  height: 1rem;
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}
nav .nav-wrap .links .nav-item:hover svg {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
nav .nav-wrap .links .nav-item:not(.scroll-to-top) a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  z-index: -1;
  border-radius: 5px;
}
nav .nav-wrap .links .nav-item:not(.scroll-to-top) a:hover::before {
  width: 100%;
  opacity: 1;
}
nav .nav-wrap .links .nav-item.active a::before {
  width: 100%;
}
nav .nav-wrap .links .nav-item.active a svg {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
nav .nav-wrap .links .nav-item.home a::before {
  background: #0A73AF !important;
}
nav .nav-wrap .links .nav-item.resources a::before {
  background: #F24A00 !important;
}
nav .nav-wrap .links .nav-item.project-materials a::before {
  background: #FF8C00 !important;
}
nav .nav-wrap .links .nav-item.maps a::before {
  background: #65A98F !important;
}
nav.sticky-nav {
  height: 3rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #012536), to(#97B7C8));
  background: linear-gradient(180deg, #012536 90%, #97B7C8 100%);
}
nav.sticky-nav .nav-wrap {
  margin: 0 4rem;
}
nav.sticky-nav .logo {
  margin: 10px 0;
}
nav.sticky-nav .logo a {
  display: block;
}
nav.sticky-nav .logo object {
  max-width: 400px;
  -webkit-filter: none;
          filter: none;
  pointer-events: none;
}
nav.sticky-nav .links {
  margin: 10px 0;
}
nav.sticky-nav .links .nav-item {
  margin: 0 1em;
}
nav.sticky-nav .links .nav-item a {
  font-size: 1rem;
  margin: 0;
}
nav.sticky-nav .links .nav-item a svg {
  width: 0.8rem;
  height: 0.8rem;
}
nav.sticky-nav .links .nav-item.scroll-to-top a {
  color: #FF8C00;
  font-size: 0.85rem;
}
nav.sticky-nav .links .nav-item.scroll-to-top a::before {
  background: none;
}

.hero {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(41, 95, 153, 0.25)), to(rgba(41, 95, 153, 0))), url(/assets/hero.webp);
  background-image: linear-gradient(0deg, rgba(41, 95, 153, 0.25) 0%, rgba(41, 95, 153, 0) 100%), url(/assets/hero.webp);
  background-attachment: fixed;
  min-height: 75em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  z-index: 1;
}
.hero .hero-header {
  padding: 2em 4em;
}
.hero .hero-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10% 4rem 10%;
  text-align: center;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
  z-index: 1;
}
.hero .hero-content p {
  color: white;
  text-shadow: 2px 2px 0px rgb(0, 0, 0), 0px 0px 1rem rgba(0, 0, 0, 0.8);
  font-size: 2rem;
}
.hero .hero-content strong {
  color: #FF8C00;
  font-variant: normal;
}
.hero .hero-content .btn-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr 50px 1fr 50px 1fr 50px 1fr;
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 1fr 50px 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  justify-items: center;
}
.hero .hero-content .btn-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.hero .hero-content .btn-container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.hero .hero-content .btn-container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.hero .hero-content .btn-container > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.hero .hero-content .btn-container > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}
.hero .hero-content .btn-container > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.hero .hero-content .btn-container > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.hero .hero-content .btn-container > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.hero .hero-content .btn-container > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.hero .hero-content .btn-container > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}
.hero .hero-content .btn-container .btn {
  background-color: #E1EBF6;
  font-variant: small-caps;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 0px 0px #0A73AF;
          box-shadow: 0px 4px 0px 0px #0A73AF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  height: 125px;
  width: 125px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .hero-content .btn-container .btn .btn-icon {
  width: 75px;
}
.hero .hero-content .btn-container span {
  color: #0A73AF;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}

.section {
  margin-bottom: 2rem;
  position: relative;
}
.section:last-child {
  margin-bottom: 0;
}
.section.bard_content-section {
  margin: 4rem;
}

.section-title svg {
  vertical-align: middle;
  fill: currentColor;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.text-wrapper.float-right, .text-wrapper.float-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.text-wrapper.float-right .content-image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  max-width: 600px;
}
.text-wrapper.float-left .content-image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.content-image {
  -webkit-filter: drop-shadow(-6px 15px 15px rgba(0, 0, 0, 0.35));
          filter: drop-shadow(-6px 15px 15px rgba(0, 0, 0, 0.35));
  margin-left: 4rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: sticky;
  top: 4rem;
}

.announcements .announcement {
  border-radius: 5px;
  background: #E1EBF6;
  padding: 1rem;
  margin: 1rem 0;
}
.announcements .announcement .announcement-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.announcements .announcement .announcement-header h3 {
  margin: 0;
}
.announcements .announcement .announcement-header .dropdown-button {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  cursor: pointer;
}
.announcements .announcement .announcement-header svg {
  width: 15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}
.announcements .announcement .announcement-header svg.rotate {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.announcements .announcement:nth-child(1n) {
  -webkit-box-shadow: 5px 5px 0px 0px #F24A00;
          box-shadow: 5px 5px 0px 0px #F24A00;
}
.announcements .announcement:nth-child(1n) .dropdown-button {
  background: #F24A00;
}
.announcements .announcement:nth-child(2n) {
  -webkit-box-shadow: 5px 5px 0px 0px #FF8C00;
          box-shadow: 5px 5px 0px 0px #FF8C00;
}
.announcements .announcement:nth-child(2n) .dropdown-button {
  background: #FF8C00;
}
.announcements .announcement:nth-child(3n) {
  -webkit-box-shadow: 5px 5px 0px 0px #65A98F;
          box-shadow: 5px 5px 0px 0px #65A98F;
}
.announcements .announcement:nth-child(3n) .dropdown-button {
  background: #65A98F;
}
.announcements .announcement .announcement-content {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}

.callout-section {
  z-index: 1;
  position: sticky;
  top: 0;
  margin-bottom: 0;
}
.callout-section .section-title {
  color: white;
}
.callout-section .callout-wrapper {
  opacity: 0.85;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, rgb(27, 54, 68)), color-stop(70%, rgba(27, 54, 68, 0)));
  background: linear-gradient(90deg, rgb(27, 54, 68) 40%, rgba(27, 54, 68, 0) 70%);
}
.callout-section .callout-wrapper .callout-content {
  width: 40%;
  padding: 4rem;
}
.callout-section .callout-wrapper .callout-content p, .callout-section .callout-wrapper .callout-content ul {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
  font-variant: small-caps;
}
.callout-section .callout-wrapper .callout-content p {
  color: white;
}
.callout-section .callout-wrapper .callout-content ul p, .callout-section .callout-wrapper .callout-content ul {
  color: #FF8C00 !important;
}
.callout-section .callout-wrapper .callout-content ul {
  -webkit-padding-start: 45px;
          padding-inline-start: 45px;
}
.callout-section .bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.charts-section {
  z-index: 2;
  position: relative;
  background-color: #0A73AF;
  border-radius: 1rem 1rem 0 0;
  padding: 4rem;
  margin-bottom: 0;
  margin-top: -1rem;
}
.charts-section .chart-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem 1.5rem;
}
.charts-section .source {
  padding: 0 1rem;
}

.subpage nav .nav-wrap .logo object {
  -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.1));
          filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.1));
}
.subpage footer {
  -webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.5);
}

.page-header {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, rgba(27, 54, 68, 0.5)), to(rgba(27, 54, 68, 0))), url(/assets/hero.webp);
  background-image: linear-gradient(90deg, rgba(27, 54, 68, 0.5) 40%, rgba(27, 54, 68, 0) 100%), url(/assets/hero.webp);
  padding: 2rem 4rem 2rem 4rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 30%;
  position: relative;
  z-index: 1;
}

.page-content {
  padding: 2rem 4rem;
}
.page-content .content-text h2:first-child {
  margin-top: 0;
}
.page-content .content-text ul li p {
  margin: 10px 0;
}

footer {
  background-image: url(/assets/hero.webp);
  background-color: rgba(27, 54, 68, 0.6);
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
  z-index: 2;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer-content {
  padding: 4rem 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
footer .footer-content .logo a {
  display: block;
}
footer .footer-content .logo object {
  max-width: 300px;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
  pointer-events: none;
}
footer .footer-content .copyright {
  color: white;
}

.maps-page .page-content {
  background: #0A73AF;
}
.maps-page .page-content iframe {
  border: #FF8C00 2px solid;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}