// ----------------------------------------------
// IMPORTS
// ----------------------------------------------

@import helpers



// ----------------------------------------------
// GLOBAL > HTML
// ----------------------------------------------
html
body
  background-color: #0A649A
  font-family: 'Noto Sans', sans-serif
  color: black
  font-size: 16px
  line-height: 1.5
  font-family: UniversNext
  font-weight: normal
  font-style: normal
  font-stretch: normal
  position: static
  max-width: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  overflow-x: hidden
  margin: 0
p, h1, h2, h3, span
  font-family: 'Noto Sans', sans-serif
h2, h3
  color: $blue
h3
  font-size: 18px
  font-style: italic
  font-weight: 600
  line-height: normal
h2, .section-title
  font-size: 2rem
  font-style: italic
  font-weight: 900
  line-height: normal
p
  font-size: 18px
.site-wrap
    max-width: 120em
    margin: 0 auto
    overflow: visible
    -webkit-box-shadow: 0 0 4rem rgba(0, 0, 0, 0.75)
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.75)
    background-color: #fff
    position: relative

.hero
  background-image: linear-gradient(0deg, rgba(41, 95, 153, 0.25) 0%, rgba(41, 95, 153, 0) 100%), url(/assets/hero.webp)
  background-attachment: fixed
  min-height: 75em
  background-size: cover
  background-repeat: no-repeat
  background-position: top center
  position: relative
  z-index: 1
  header
    padding: 2em 4em
    nav
      display: flex
      justify-content: space-between
      align-items: flex-start
      flex-direction: row
    .logo
      order: 1
      object
        max-width: 300px
    .links
      order: 2
      list-style: none
      display: flex
      flex-direction: row
      .nav-item
        a
          color: #FFF
          text-align: center
          font-family: "Noto Sans"
          font-size: 1.5rem
          font-style: normal
          font-weight: 500
          text-decoration: none
          margin: 0 .5em
          cursor: pointer
          padding: .25em .5em
          overflow: hidden
          position: relative
          &::before
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 0%
            height: 100%
            transition: width 0.2s ease-in-out
            z-index: -1
            border-radius: 5px
          &:hover::before
            width: 100%
        &:nth-child(1n)a::before
          background: $tangerine
        &:nth-child(2n)a::before
          background: $orange
        &:nth-child(3n)a::before
          background: $green    
            
  // &::before
  //   content: ''
  //   position: absolute
  //   top: 0
  //   left: 0
  //   width: 100%
  //   height: 100%
  //   background: linear-gradient(180deg, rgba(90, 90, 90, 0.0) 50%, rgba(90, 90, 90, 0.3) 100%)
  //   z-index: 0
  .hero-content
    position: absolute
    left: 0
    right: 0
    bottom: 0
    align-items: center 
    margin: 0 10% 4rem 10%  
    text-align: center
    font-style: italic
    font-weight: 900
    line-height: normal
    z-index: 1

    p
      color: white
      text-shadow: 0px 0px 1rem rgba(0, 0, 0, .8), 0px 0px 1rem rgba(0, 0, 0, .8)
      font-size: 2rem
    strong
      color: $orange
      font-variant: normal

    .btn-container
      display: grid
      grid-template-columns: repeat(5, 1fr)
      grid-template-rows: repeat(2, 1fr)
      gap: 50px
      justify-items: center
      .btn
        background-color: #E1EBF6
        font-variant: small-caps
        border: none
        color: white
        text-align: center
        text-decoration: none
        display: inline-block
        font-size: 16px
        margin: 4px 2px
        cursor: pointer
        border-radius: 15px
        box-shadow: 0px 4px 0px 0px $blue
        display: flex
        flex-direction: column
        align-items: center
        padding: 20px
        height: 125px
        width: 125px
        justify-content: center
        .btn-icon
          width: 75px
      span
        color: $blue
        font-size: 1.25rem
        font-style: italic
        font-weight: 600
        line-height: normal 
.section
  margin-bottom: 2rem
  position: relative
  &:last-child
    margin-bottom: 0
  &.bard_content-section
    margin: 4rem
.section-title 
  svg
    vertical-align: middle
    fill: currentColor
    width: 30px
    height: 30px   
    margin-right: 10px
.text-wrapper
  &.float-right, &.float-left
    display: flex
  &.float-right 
    .content-image
      order: 2
  &.float-left
    .content-image
      order: 1
.content-image
  filter: drop-shadow(-6px 15px 15px rgba(0, 0, 0, 0.35))
  margin: 0 4rem
.announcements
  .announcement
    border-radius: 5px
    background: $light-blue
    padding: 1rem
    margin: 1rem 0
    .announcement-header
      display: flex
      justify-content: space-between
      h3
        margin: 0
      .dropdown-button
        width: 25px
        height: 25px
        border-radius: 5px
        padding: 0
        display: flex
        justify-content: center
        align-items: center
        border: none
        cursor: pointer
      svg
        width: 15px
        transform: rotate(180deg)
        transition: transform 0.2s ease-out
        &.rotate
          transform: rotate(0deg)
    &:nth-child(1n)
      box-shadow: 5px 5px 0px 0px $tangerine
      .dropdown-button
        background: $tangerine
    &:nth-child(2n)
      box-shadow: 5px 5px 0px 0px $orange
      .dropdown-button
        background: $orange
    &:nth-child(3n)
      box-shadow: 5px 5px 0px 0px $green
      .dropdown-button
        background: $green
    .announcement-content
      max-height: 0px
      overflow: hidden
      transition: max-height 0.2s ease-in-out  // Increase the duration as needed           
.callout-section
  z-index: 1
  position: sticky
  top: 0
  margin-bottom: 0
  .section-title
    color: white
  .callout-wrapper
    opacity: 0.85
    width: 100%
    background: linear-gradient(90deg,rgb(27, 54, 68, 1) 40%, rgb(27, 54, 68, 0) 70%)
    .callout-content
      width: 40%
      padding: 4rem
      p, ul
        font-size: 1.5rem
        font-style: italic
        font-weight: 900
        line-height: normal
        font-variant: small-caps
      p
        color: white
      ul p, ul
        color: $orange !important
      ul
        padding-inline-start: 45px
  .bg-video
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover
    z-index: -1
.charts-section
  min-height: 2000px
  z-index: 2
  position: relative
  background-color: $blue
  border-radius: 1rem
  top: -1rem



